<div *ngIf="pet" class="card-container shadow p-3">
  <div class="pet-card-header">
    <span class="pet-name">{{ pet.nome }}</span>
  </div>
  <img [src]="'assets/images/uploads/' + pet.img" [alt]="pet.nome" class="card-img-top">
  <div class="card-body">
    <h5 class="card-title">{{ pet.nome }}</h5>
    <p class="card-text">{{ pet.raca }}</p>
    <p class="card-text">{{ pet.idade }}</p>
    <button *ngIf="isLoggedIn && userType === 'ong' && isMyPet()" class="btn btn-danger btn-sm mt-2" (click)="openDeleteConfirmation()">Deletar</button>
  </div>
</div>

<app-confirmation-modal
  *ngIf="showConfirmationModal"
  [title]="'Confirmar Exclusão'"
  [message]="'Tem certeza que deseja excluir este pet? Esta ação não pode ser desfeita.'"
  (confirm)="confirmDelete()"
  (close)="closeDeleteConfirmation()"
></app-confirmation-modal>