.card-container {
  border: 4px solid #ADD8E6; /* Azul claro para pets (ONG) */
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative; /* Para posicionar o header */
}

.pet-card-header {
  background-color: #00008B; /* Azul escuro para o header do pet (ONG) */
  padding: 5px 10px;
  text-align: left;
  color: white;
  font-weight: bold;
  font-size: 0.9em;
  border-bottom: 1px solid #000066; /* Borda sutil abaixo do header */
}

.pet-name {
  display: block;
}

.image-wrapper {
  position: relative;
  overflow: hidden;
}

.card-img-top {
  width: 100%;
  height: auto; /* Mantém a proporção da imagem */
  display: block; /* Remove espaços extras abaixo da imagem */
}

.card-body {
  padding: 15px;
  text-align: center;
}

.card-title {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 1.5em;
  color: #333;
}

.card-text {
  color: #555;
  font-size: 1em;
}

/* Estilos para o status de adoção */
.grayscale {
  filter: grayscale(100%);
}

.adoption-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* Agora 100% da image-wrapper */
  background-color: rgba(0, 0, 0, 0.6); /* Fundo escuro semi-transparente */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-align: center;
  border-radius: 0; /* Removido para não conflitar com o image-wrapper */
  z-index: 1; /* Garante que o overlay fique acima da imagem */
}
