.user-status {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: green;
  margin-right: 5px;
}

.header-logo-img {
  height: 110px; /* Define a altura fixa para a logo */
}

.login-form-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1050; /* Garante que fique acima de outros elementos */
}

.btn-status-user {
  background-color: var(--blue-dark); /* Alterado para azul escuro */
  color: white; /* Cor do texto para contraste */
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.status-indicator {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--green-light); /* Alterado para verde claro */
  margin-right: 5px;
}

.navbar-nav {
  flex-grow: 1;
}

.navbar-nav .nav-item {
  margin-right: 1rem; /* Aumenta o espaçamento entre os itens de navegação */
}

.navbar-nav .nav-link {
  font-size: 1.5rem; /* Aumenta a fonte para o tamanho de um h3 */
  font-family: 'Poppins', sans-serif; /* Usa a mesma fonte dos títulos */
  color: var(--green-dark); /* Cor verde escura para os links de navegação */
}

.btn-adote-aqui {
  background-color: var(--pink-light);
  color: var(--white) !important; /* Força a cor branca */
  border-radius: 5px;
  padding: 0.5rem 1rem;
  transition: transform 0.2s ease-in-out;
}

.btn-adote-aqui:active {
  transform: scale(1.05); /* Efeito de crescimento ao clicar */
}

.btn-adote-aqui .heart-icon {
  color: var(--red-active); /* Cor vermelha para o coração */
}

