<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <img src="/img/NexoIMG/NexiPeticone logo trarente.png" alt="NexoPet Logo" class="header-logo-img">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav justify-content-center mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/blog" routerLinkActive="active">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contato" routerLinkActive="active">Contato</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/ongs" routerLinkActive="active">ONGs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/partners" routerLinkActive="active">Parceiros</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn() && (user?.tipo === 'pessoa' || user?.tipo === 'ong' || user?.tipo === 'parceiro')">
          <a class="nav-link" routerLink="/social" routerLinkActive="active">Social Pet</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn-adote-aqui d-flex align-items-center" routerLink="/dashboard" routerLinkActive="active">
            <span class="me-1 heart-icon">&#x2764;</span> Adote Aqui
          </a>
        </li>
      </ul>
      <div class="d-flex align-items-center">
        <ng-container *ngIf="!isLoggedIn()">
          <button class="btn btn-outline-primary me-2" (click)="toggleLoginForm()">Login</button>
          <button class="btn btn-primary" (click)="toggleRegisterSelection()">Cadastre-se</button>
        </ng-container>
        <ng-container *ngIf="isLoggedIn()">
          <button class="btn-status-user me-2 d-flex align-items-center">
            <span class="status-indicator me-1"></span>
            <span>{{ user?.nickname }}</span>
          </button>
          <button class="btn btn-danger" (click)="logout()">Logout</button>
        </ng-container>
      </div>
    </div>
  </div>
</nav>

<div *ngIf="showLoginForm" class="login-form-container" (click)="onContainerClick($event)">
  <app-login-form (loggedIn)="onLoggedIn()" (registerClicked)="toggleRegisterSelection()" (click)="$event.stopPropagation()"></app-login-form>
</div>

<app-register-selection *ngIf="showRegisterSelection" (closeSelection)="onCloseRegisterSelection()"></app-register-selection>
