:host {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center; /* Centraliza o wrapper verticalmente */
    align-items: center; /* Centraliza o wrapper horizontalmente */
}

.login-form-wrapper {
    padding: 1.5rem; /* Aumentado o padding para melhor visualização */
    background-color: var(--white);
    display: flex;
    flex-direction: column; /* Stack children vertically */
    justify-content: center;
    align-items: center;
    border-radius: 8px; /* Adicionado borda arredondada */
    
    max-width: 400px; /* Define um tamanho máximo para a caixa de login */
    width: 100%; /* Garante que seja responsivo */
}

.login-logo-container {
    margin-bottom: 1.5rem;
    text-align: center;
}

.login-logo {
    max-width: 150px; /* Tamanho da logo */
    height: auto;
}

.login-form-group {
    margin-bottom: 1.5rem; /* Aumentado o espaçamento entre os grupos de formulário */
    width: 100%; /* Garante que os grupos de formulário ocupem a largura total do contêiner */
}

.login-form-label {
    display: inline-block;
    margin-left: .5rem;
}

.form-control-custom {
    display: block;
    width: 100%;
    padding: .5rem 1rem; /* Aumentado o padding para inputs mais altos */
    font-size: 1.1rem; /* Aumentado o tamanho da fonte */
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .5rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control-custom:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 0 0.25rem rgba(139, 195, 74, 0.25); /* Usando um RGBA baseado na primary-color */
    outline: 0;
}

.form-check-custom {
    display: flex;
    min-height: 1.5rem;
    padding-left: 1.5em;
    
    width: 100%; /* Garante que o checkbox ocupe a largura total */
}

.form-check-input-custom {
    float: left;
    margin-left: -1.5em;
}

.form-check-label-custom {
    margin-bottom: 0;
}

.btn-custom {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    width: 100%;
}

.btn-primary-custom {
    color: var(--white);
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-primary-custom:hover {
    background-color: #689F38; /* Um tom mais escuro da primary-color */
    border-color: #689F38;
}

.input-group-custom {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

.input-group-text-custom {
    display: flex;
    align-items: center;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.input-group-text-custom img {
    height: 20px;
}

.input-group-custom .form-control-custom {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
}

.welcome-text {
    color: var(--secondary-color);
    font-weight: bold;
}

.forgot-password-link,
.register-link {
    font-size: 0.9rem;
    color: var(--primary-color);
    text-decoration: none;
    margin-top: 0.5rem;
}

.forgot-password-link:hover,
.register-link:hover {
    text-decoration: underline;
}

.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.mt-3 {
    margin-top: 1rem;
}