<div class="institutional-page-container">
  <h1>Perguntas Frequentes</h1>

  <div class="faq-content">
    <details>
      <summary>Qual é a missão do Nexo Pet?</summary>
      <p>Nossa missão é conectar animais necessitados a lares amorosos, promovendo a adoção responsável e o bem-estar animal.</p>
    </details>

    <details>
      <summary>Como posso adotar um animal?</summary>
      <p>Você pode navegar pelos perfis de animais disponíveis em nossa plataforma, preencher um formulário de interesse e aguardar o contato do responsável pelo animal para dar continuidade ao processo de adoção.</p>
    </details>

    <details>
      <summary>Posso cadastrar meu animal para adoção?</summary>
      <p>Sim, se você é um protetor independente ou uma ONG, pode cadastrar animais para adoção em nossa plataforma, seguindo as diretrizes de uso.</p>
    </details>

    <details>
      <summary>Como posso ajudar o Nexo Pet?</summary>
      <p>Você pode ajudar adotando, divulgando nossa plataforma, doando para ONGs parceiras ou se voluntariando em eventos de adoção.</p>
    </details>
  </div>
</div>