<h2>Meus Produtos</h2>
<button class="btn btn-primary" (click)="onAddNewProductClick()">Adicionar Novo Produto</button>

<app-product-form *ngIf="showProductForm" (formSubmit)="handleProductFormSubmit($event)"></app-product-form>

<div *ngIf="products$ | async as products">
  <div *ngFor="let product of products" class="product-item">
    <h3>{{ product.name }}</h3>
    <p>Descrição: {{ product.description }}</p>
    <p class="price">Preço: {{ product.price | currency:'BRL' }}</p>
    <p>ID do Parceiro: {{ product.partnerId }}</p>
    <button *ngIf="isMyProduct(product)" class="btn btn-danger btn-sm mt-2" (click)="openDeleteConfirmation(product.id)">Deletar</button>
  </div>
</div>

<app-confirmation-modal
  *ngIf="showConfirmationModal"
  [title]="'Confirmar Exclusão'"
  [message]="'Tem certeza que deseja excluir este produto? Esta ação não pode ser desfeita.'"
  (confirm)="confirmDelete()"
  (close)="closeDeleteConfirmation()"
></app-confirmation-modal>
