<div class="institutional-page-container">
  <h1>Minha Galeria</h1>

  <div class="gallery-grid">
    <ng-container *ngIf="userPosts$ | async as posts">
      <div *ngFor="let post of posts" class="gallery-item">
        <app-post-card [post]="post"></app-post-card>
        <button class="delete-photo-button" (click)="deletePost(post.id)">Deletar</button>
      </div>
      <div *ngIf="posts.length === 0" class="no-photos-message">
        <p>Você ainda não tem fotos na sua galeria.</p>
      </div>
    </ng-container>
  </div>
</div>