<h1>Blog & Notícias do Nexo Pet</h1>

<div class="blog-grid">
  <div *ngIf="articles$ | async as articles">
    @for (article of articles; track article.id) {
      <a [routerLink]="'/blog/' + article.id" class="article-card">
        <img [src]="article.imageUrl" [alt]="article.title">
        <div class="card-content">
          <h3>{{ article.title }}</h3>
          <p class="author">Por: {{ article.author }}</p>
          <p class="summary">{{ article.summary }}</p>
          <span>Ler Mais</span>
        </div>
      </a>
    }
  </div>
  <div *ngIf="!(articles$ | async)?.length">
    <p>Nenhum artigo encontrado.</p>
  </div>
</div>