<div class="side-menu">
  
  <div class="menu-header">
    <h3>Menu</h3>
  </div>
  
  <ul class="menu-items">
    <li *ngIf="getUserType() === 'pessoa'"><a [routerLink]="'/my-gallery'">Minha Galeria</a></li>
    <li *ngIf="getUserType() === 'ong'"><a [routerLink]="'/ong/pet-management'">Adoções Pet</a></li>
    <li *ngIf="getUserType() === 'parceiro'"><a [routerLink]="'/partner/product-management'">Meus Produtos</a></li>
    <li *ngIf="user"><a [routerLink]="'/inbox'">Caixa de Entrada</a></li>
    <li *ngIf="user"><a [routerLink]="'/add-friends'">Adicione Amigos +</a></li>
    <li *ngIf="user"><a [routerLink]="'/profile'">Meu Perfil</a></li>
  </ul>
</div>
