.side-menu {
  width: 175px;
  height: 100%;
  background-color: #e9ecef; /* Cinza mais escuro */
  padding-top: 20px; /* Espaço para o header */
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}



.menu-header {
  text-align: center; /* Centraliza o texto 'Menu' */
}

.menu-header h3 {
  color: #00008B; /* Azul escuro para o título 'Menu' */
}

.menu-items {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-items li {
  padding: 0.5rem 1rem;
}

.menu-items li a {
  display: block;
  padding: 10px 15px;
  text-align: center; /* Centraliza o texto dentro do botão */
  text-decoration: none;
  background-color: #ADD8E6; /* Azul claro para os botões */
  color: #333; /* Cor do texto */
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-bottom: 5px; /* Espaçamento entre os botões */
}

.menu-items li a:hover {
  background-color: #00008B; /* Azul escuro no hover */
  color: white; /* Texto branco no hover */
}

.menu-items li a.active {
  background-color: #00008B; /* Azul escuro no active */
  color: white; /* Texto branco no active */
  transform: scale(1.02); /* Leve aumento de tamanho no active */
  box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Sombra para destaque */
}
