<div class="side-menu" [class.open]="isOpen">
  <img src="/img/NexoIMG/NexiPeticone logo fundo branco.png" alt="NexoPet Logo" class="side-menu-logo">
  <div class="menu-header">
    <h3>Menu</h3>
    <button class="close-btn" (click)="toggle()">&times;</button>
  </div>
  
  <ul class="menu-items">
    <li *ngIf="currentUserType === 'ong'"><button class="btn btn-primary" [routerLink]="'/ong/pet-management'">Gerenciar Pets</button></li>
    <li><button class="btn btn-primary">Editar Perfil</button></li>
  </ul>
</div>

<button class="hamburger-btn" (click)="toggle()">
  &#9776;
</button>
