<div class="social-container">
  <h1>Feed Social</h1>
  <button (click)="toggleCreateForm()" *ngIf="userService.getUser()?.tipo === 'pessoa'">Criar Novo Post</button>

  <app-create-post-form *ngIf="showCreateForm && userService.getUser()?.tipo === 'pessoa'" [initialData]="postToEdit" (formSubmit)="handleFormSubmit($event)"></app-create-post-form>

  <div class="posts-list">
    <app-post-card *ngFor="let post of posts" [post]="post" (edit)="onEditPostClick($event)" (delete)="onDeletePost($event)"></app-post-card>
  </div>
</div>
