.post-card {
  border: 2px solid var(--green-light); /* Borda verde para posts */
  border-radius: 8px;
  margin-bottom: 16px;
  overflow: hidden;
}

.post-card img {
  width: 100%;
  height: auto;
}

.post-content {
  padding: 16px;
}

.post-actions span {
  color: var(--green-dark); /* Cor verde para o ícone de like */
  transition: color 0.3s ease;
}

.post-actions span:hover {
  color: var(--green-light); /* Muda para verde claro no hover */
}

.post-actions .liked {
  color: var(--green-light); /* Cor para o coração quando curtido */
}
