.post-card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  /* width: 300px; */ /* Removido para ser responsivo */
  margin-bottom: 16px;
  box-sizing: border-box;
}

.post-card-header {
  padding: 5px 10px;
  text-align: left;
  color: white;
  font-weight: bold;
  font-size: 0.9em;
  border-bottom: 1px solid;
}

.post-owner-name {
  display: block;
}

.post-image-container {
  width: 100%;
  height: auto; /* Altura automática para a imagem */
  overflow: hidden;
  background-color: #fff;
}

.post-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Preenche o contêiner sem distorcer */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.post-card-info {
  padding: 15px;
  text-align: center;
  flex-grow: 1; /* Permite que a info cresça para preencher o espaço */
}

.post-card-info p {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 1em;
  color: #555;
}

.post-card-actions {
  padding: 15px;
  text-align: center;
  border-top: 1px solid #eee; /* Linha separadora */
}

.post-actions span {
  color: var(--green-dark); /* Cor verde para o ícone de like */
  transition: color 0.3s ease;
}

.post-actions span:hover {
  color: var(--green-light); /* Muda para verde claro no hover */
}

.post-actions .liked {
  color: var(--green-light); /* Cor para o coração quando curtido */
}

/* Cores para posts de Pessoa */
.post-card-pessoa {
  border: 2px solid var(--green-light); /* Borda verde clara */
}

.post-card-pessoa .post-card-header {
  background-color: #006400; /* Verde escuro */
  border-color: #004d00;
}

/* Cores para posts de ONG */
.post-card-ong {
  border: 2px solid #ADD8E6; /* Azul claro */
}

.post-card-ong .post-card-header {
  background-color: #00008B; /* Azul escuro */
  border-color: #000066;
}

/* Cores para posts de Parceiro */
.post-card-parceiro {
  border: 2px solid #FFDAB9; /* Laranja claro */
}

.post-card-parceiro .post-card-header {
  background-color: #FF8C00; /* Laranja escuro */
  border-color: #CC7000;
}