<form [formGroup]="postForm" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label for="title" class="form-label">Título:</label>
    <input type="text" id="title" formControlName="title" class="form-control">
    <div *ngIf="postForm.get('title')?.invalid && postForm.get('title')?.touched" class="text-danger">
      Título é obrigatório.
    </div>
  </div>

  <div class="mb-3">
    <label for="content" class="form-label">Conteúdo:</label>
    <textarea id="content" formControlName="content" class="form-control"></textarea>
    <div *ngIf="postForm.get('content')?.invalid && postForm.get('content')?.touched" class="text-danger">
      Conteúdo é obrigatório.
    </div>
  </div>

  <div class="mb-3">
    <label for="image" class="form-label">Imagem:</label>
    <input type="file" id="image" (change)="onFileSelected($event)" class="form-control">
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="postForm.invalid">Postar</button>
</form>