<div class="pet-management-container">
  <h2>Meus Pets</h2>
  <button class="btn btn-primary" (click)="onAddNewPetClick()">Adicionar Novo Pet</button>

  <app-pet-form *ngIf="showPetForm" [initialData]="petToEdit" (formSubmit)="handlePetFormSubmit($event)"></app-pet-form>

  <div class="pet-list-grid" *ngIf="pets$ | async as pets">
    <div *ngFor="let pet of pets" class="pet-card">
      <div class="pet-card-header">
        <span class="pet-name">{{ pet.nome }}</span>
      </div>
      <img [src]="pet.img" alt="{{ pet.nome }}">
      <div class="pet-details">
        <p>Espécie: {{ pet.especie }}</p>
        <p>Raça: {{ pet.raca }}</p>
        <p>Idade: {{ pet.idade }}</p>
        <p>ONG: {{ pet.ong }}</p>
      </div>
      <div class="pet-card-actions">
        <button class="btn btn-secondary btn-sm" (click)="onEditPetClick(pet)">Editar</button>
        <button class="btn btn-danger btn-sm" (click)="openDeleteConfirmation(pet.id)">Deletar</button>
      </div>
    </div>
  </div>

  <app-confirmation-modal
    *ngIf="showConfirmationModal"
    [title]="'Confirmar Exclusão'"
    [message]="'Tem certeza que deseja excluir este pet? Esta ação não pode ser desfeita.'"
    (confirm)="confirmDelete()"
    (close)="closeDeleteConfirmation()"
  ></app-confirmation-modal>
</div>
