@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&family=Poppins:wght@600;700&display=swap');

/* You can add global styles to this file, and also import other style files */
:root {
    --blue-light: #63aace;
    --blue-dark: #3477a5;
    --green-light: #92ba76;
    --green-dark: #6d9f56;
    --orange-light: #f2b06f;
    --orange-dark: #e68c49;
    --white: #f8f9fa;
    --pink-light: #ffcccc; /* Rosa claro para o botão Adote Aqui */
    --red-active: #ff0000; /* Vermelho para o coração ativo */
    --cor-texto: #333; /* Nova variável para cor de texto */

    /* Mapeamento para as variáveis existentes, se necessário */
    --primary-color: var(--green-light); /* Exemplo: usando verde claro como cor primária */
    --secondary-color: var(--orange-light); /* Exemplo: usando laranja claro como cor secundária */
    --background-color: var(--white); /* Exemplo: usando branco como cor de fundo */
    --text-color: #424242; /* Mantendo o cinza escuro para o texto, ou pode ser ajustado */
    --accent-color: var(--blue-light); /* Exemplo: usando azul claro como cor de destaque */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    background-color: #f8f9fa; /* Cinza muito claro */
    color: var(--cor-texto); /* Cor de texto padrão */
    height: 100vh;
}

h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
}

.main-content {
  margin-top: 10px; /* Ajuste conforme a altura do seu cabeçalho */
  padding: 1rem; /* Adicione um padding para o conteúdo não ficar colado nas bordas */
}

/* Estilo para botões globais */
.btn-primary {
    background-color: var(--blue-dark); /* Usando uma cor primária */
    color: white;
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transição suave */
}

.btn-primary:hover {
    background-color: #2a5f85; /* Um tom um pouco mais escuro para o hover */
}

/* Estilo para links globais */
a {
    color: var(--green-dark); /* Cor de destaque */
    text-decoration: none; /* Remove sublinhado */
    transition: color 0.3s ease; /* Transição suave */
}

a:hover {
    color: var(--green-light); /* Muda de cor no hover */
}

/* Classe para object-fit: cover */
.img-cover {
  width: 100%;
  object-fit: cover;
}